* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* REM */
  font-size: 62.5%;

  /* colors */
  --bg-color: #ffffff;
  --primary-color: #000000;
  --alternative-color: #395B64;
  --extra-color: #A5C9CA;
  --fonts-color:white;
  --span-color: 

  /* fonts */
  --primary-font:'Bungee', cursive;
  --secondary-font: 'Monomaniac One', sans-serif;
  --terciary-font: 'Russo One', sans-serif;
}

body {
  background-color: #f9f6f2; /* Verde claro */
  background-image: linear-gradient(to top, #F9F6F2, #b6b6b6);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

/*Wide screen*/

/*************Fixed Bar*****************/
    .header__wrapper {
      position: fixed;
      top: 0;
      width: 100%;
      display: flex;
      background-color: rgba(10, 14, 12, 0.8); /* Cor de fundo com opacidade */
      backdrop-filter: blur(10px); /* Desfoque de fundo (opcional) */
      font-family: var(--terciary-font);
      justify-content: space-between;
      height: 7vh;
      align-items: center;
      color: #ffffff;
      z-index: 999;
    }
    
    .header_about {
      display: flex;
      list-style: none;
      gap: 3rem;
      margin-right: 4rem;
      font-size: 2rem;
      cursor: pointer;
    }
    
    .about__item {
      
    }
    
    .about__item:hover {
      transition: 0.5s;
      color: #95a36c;
    }


.header__wrapper h1 {
  margin-left: 4rem;
  font-size: 4rem;
}

/**********************************************/

/*Introduction*/
.principal__wrapper {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin: 0 40rem;
  padding-top: 15rem;
  color: rgb(0, 0, 0);
}

.my__img img {
  width: 35rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow:6px 4px 5px rgba(0, 0, 0, 0.2);
}

.apresentation {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
  position: relative;
}

.apresentation p {
  font-family: var(--secondary-font);
  font-size: 4rem;
  white-space: nowrap;
}

span {
  margin-left: 2rem;
}

.apresentation h2 {
  font-family: var(--terciary-font);
  font-size: 10rem;
  line-height: 9rem;
}

.icon1 {
  width: 5rem;
}

.icon2 {
  width: 5rem;
  
}

.last_line {
  letter-spacing: 0.8rem;
}
/*******************************************/

/*Hand 'Hello' Animation*/
.hello_hand {
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.shaking_hand {
  width: 7rem;
  animation: shake 5s infinite; 
}



@keyframes shake {
  0%, 50%, 100% {
    transform: rotate(-10deg);
  }
  25%, 75% {
    transform: rotate(10deg);
  }
}

/*******************************************/

/*****************ABOUT ME******************/
.about_me {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.about_me h2{
  font-family: var(--terciary-font);
  font-size: 3rem;
  padding-top: 2rem;
}

.about_me p {
  font-family: var(--terciary-font);
  font-size: 1.5rem;
  text-align: justify;
  padding-bottom: 2rem;
}
/*******************************************/

/****************TECNOLOGIES***************/
.tecnologies {
  font-family: var(--secondary-font);
  font-size: 2rem;
  margin: 10rem;
  gap: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tecnologies_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-bottom: 3rem;
}

.icon {
  position: relative;
  display: inline-block;
  text-align: center;
}

.icon img {
  width: 10rem;
  transition: transform 0.3s ease-out;
}

.icon .name {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-out;
  margin: 0 auto;
  width: max-content;
}

.icon:hover img {
  transform: translateY(-5px);
}

.icon:hover .name {
  opacity: 1;
}
/***********************************/



/****************IMAGE - SLIDER*********************/

#my-keen-slider .keen-slider__slide {
  min-height: 700px;
  }

.number-slide1 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab1.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100%;
}

.picture-1 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab1.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 150%;
  pointer-events: none;
}

.number-slide2 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab2.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100%;
}

.picture-2 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab2.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 150%;
  pointer-events: none;
}

.number-slide3 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab3.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
}


.picture-3 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab3.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.number-slide4 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab4.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100%;
}

.picture-4 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab4.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.number-slide5 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab5.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100%;
}

.picture-5 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab5.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.number-slide6 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab6.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
}

.picture-6 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab6.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.number-slide7 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab7.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
}

.picture-7 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab7.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.number-slide8 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab8.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
}

.picture-8 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab8.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.number-slide9 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab9.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
}

.picture-9 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab9.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.number-slide10 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab10.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
}

.picture-10 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab10.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.number-slide11 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab11.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
}

.picture-11 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab11.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.number-slide12 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab12.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
}

.picture-12 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab12.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.number-slide13 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab13.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
}

.picture-13 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab13.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

/********************************************/

/****************SLIDER*********************/
.works_wrapper {
  background-color: #000000;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.slide {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  
}

.works_wrapper h2 {
  color: #ffffff;
  font-family: var(--terciary-font);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}


[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  
  height: 400px;
  max-height: 100vh;
}




.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}

.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px solid white;
}


/********************************************/



/*MEDIA SCREEN (MOBILE)*/
@media screen and (max-width: 768px) {

    /*Fixed Bar*/
    .header__wrapper {
      position: fixed;
      top: 0;
      width: 100%;
      display: flex;
      background-color: rgba(10, 14, 12, 0.8); /* Cor de fundo com opacidade */
      backdrop-filter: blur(10px); /* Desfoque de fundo (opcional) */
      font-family: var(--terciary-font);
      justify-content: space-between;
      
      align-items: center;
      color: #ffffff;
    
    }
    
    .header_about {
      display: flex;
      list-style: none;
      gap: 2rem;
      margin-right: 4rem;
      font-size: 1.2rem;
      cursor: pointer;
    }
    
    
    .about__item:hover {
      transition: 0.5s;
      color: #95a36c;
    }


.header__wrapper h1 {
  margin-left: 4rem;
  font-size: 3rem;
}
/*******************************************/

/****************Introduction**************/
.principal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15rem;
  margin: 0 auto;
  color: black;
}

.my__img img {
  width: 30rem;
}

.apresentation {
  margin-top: 1.5rem;
  position: relative;
}

.apresentation p {
  font-family: var(--secondary-font);
  font-size: 2rem;
}

.apresentation h2 {
  font-family: var(--terciary-font);
  font-size: 5rem;
  line-height: 4.5rem;
}

span {
  margin-left: 2rem;
}

.icon1 {
  width: 3rem
}

.icon2 {
  width: 3rem;
}

.last_line {
  letter-spacing: 0.4rem;
}
/*******************************************/

/********Hand 'Hello' Animation************/

.hello_hand {
  padding: 6.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.shaking_hand {
  animation: shake 7s infinite;
}

@keyframes shake {
  0%, 50%, 100% {
    transform: rotate(-10deg);
  }
  25%, 75% {
    transform: rotate(10deg);
  }
}

/*******************************************/

/*****************ABOUT ME******************/
.about_me {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.about_me h2{
  font-family: var(--terciary-font);
  font-size: 3rem;
  padding-top: 2rem;
}

.about_me p {
  font-family: var(--terciary-font);
  font-size: 1.5rem;
  text-align: justify;
  padding: 0 2rem;
  
  padding-bottom: 2rem;
}
/************************************************/

/****************TECNOLOGIES***************/
.tecnologies {
  font-family: var(--secondary-font);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.tecnologies_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.icon {
  display: inline-block;
  text-align: center;
}

.icon img {
  width: 5rem;
  
}

.icon .name {
  display: none;
}

/********************************************/


/****************SLIDER*********************/
.keen-slider__slide a {
  width: 100%;
  height: 100%;
  background: url(/works/trab1.png) center top;
  background-size:contain;
  
  background-repeat: no-repeat;
  background-size: 255%;
}

.number-slide1 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab1.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 200%;
}

.picture-1 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab1.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 400%;
  pointer-events: none;

}

.number-slide2 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab2.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 200%;
}

.picture-2 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab2.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 250%;
  pointer-events: none;
}

.number-slide3 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab3.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 200%;
}

.picture-3 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab3.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 250%;
  pointer-events: none;
}

.number-slide4 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab4.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 200%;
}

.picture-4 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab4.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 210%;
  pointer-events: none;
}

.number-slide5 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab5.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 200%;
}

.picture-5 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab5.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 200%;
  pointer-events: none;
}

.number-slide6 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab6.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 200%;
}

.picture-6 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab6.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 210%;
  pointer-events: none;
}

.number-slide7 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab7.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 200%;
}

.picture-7 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab7.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 210%;
  pointer-events: none;
}

.number-slide8 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab8.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 200%;
}

.picture-8 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab8.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 200%;
  pointer-events: none;
}

.number-slide9 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab9.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 200%;
}

.picture-9 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab9.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 210%;
  pointer-events: none;
}

.number-slide10 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab10.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 150%;
}

.picture-10 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab10.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.number-slide11 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab11.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 150%;
}

.picture-11 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab11.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.number-slide12 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab12.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 150%;
}

.picture-12 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab12.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.number-slide13 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab13.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 150%;
}

.picture-13 a {
  width: 100%;
  height: 100%;
  background: url(/works/trab13.png) center top;
  background-size:contain;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}



#my-keen-slider .keen-slider__slide {
  min-height: 300px;
  }
/********************************************/
  
}





@media screen and (max-width: 1024px) {
  .principal__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;
    margin: 0 auto;
    color: black;
  }
}


/*******************************************/